XMLTaskF6MYAZ/XMLSchemaF6MYAZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dolgozok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dolgozo" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="admin_id" use="required" />
                                    <xs:attribute name="orvos_id" use="required" />
                                    <xs:attribute name="recepcios_id" use="required" />
                                    <xs:attribute name="dolgozo_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="recepciosok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="recepcios" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nev" type="xs:string" />
                                        <xs:element name="email_cim" type="xs:string" />
                                        <xs:element name="jelszo" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="recepcios_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="adminok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="admin" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nev" type="xs:string" />
                                        <xs:element name="email_cim" type="xs:string" />
                                        <xs:element name="jelszo" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="admin_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="rendelesi_idok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rendelesi_ido" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rendelesi_ido" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="rend_id" use="required" />
                                    <xs:attribute name="orvos_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="orvosok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="orvos" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nev" type="xs:string" />
                                        <xs:element name="email_cim" type="xs:string" />
                                        <xs:element name="jelszo" type="xs:string" />
                                        <xs:element name="elerheto" type="xs:boolean" />
                                    </xs:sequence>
                                    <xs:attribute name="orvos_id" use="required" />
                                    <xs:attribute name="idopont_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="idopont_foglalasok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="idopont_foglalas" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="datum" type="xs:date" />
                                        <xs:element name="pontos_idopont" type="xs:string" />
                                        <xs:element name="idotartam" type="xs:decimal" />
                                    </xs:sequence>
                                    <xs:attribute name="idopont_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pac-gyogy-ek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pac-gyogy" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="feliras_datuma" type="xs:date" />
                                    </xs:sequence>
                                    <xs:attribute name="p_gy_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="paciensek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="paciens" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nev" type="xs:string" />
                                        <xs:element name="email_cim" type="xs:string" />
                                        <xs:element name="jelszo" type="xs:string" />
                                        <xs:element name="szuletesi_ido" type="xs:date" />
                                        <xs:element name="szuletesi_hely" type="xs:string" />
                                        <xs:element name="lakcim">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="varos" type="xs:string" />
                                                    <xs:element name="utca_es_hazszam" type="xs:string" />
                                                    <xs:element name="iranyitoszam" type="iranyitomszam" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="taj_szam" type="xs:string" use="required"></xs:attribute>
                                    <xs:attribute name="paciens_id" use="required" />
                                    <xs:attribute name="idopont_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gyogyszerek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gyogyszer" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ar" type="xs:decimal" />
                                        <xs:element name="nev" type="xs:string" />
                                        <xs:element name="leiras" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="gyogyszer_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pac-bet-ek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pac-bet" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="idotartam" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="p_b_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="betegsegek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="betegseg" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nev" type="xs:string" />
                                        <xs:element name="leiras" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="betegseg_id" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_dolgozo">
            <xs:selector xpath="dolgozok/dolgozo"></xs:selector>
            <xs:field xpath="@dolgozo_id"></xs:field>
        </xs:key>
        <xs:key name="PK_recepcios">
            <xs:selector xpath="recepciosok/recepcios"></xs:selector>
            <xs:field xpath="@recepcios_id"></xs:field>
        </xs:key>
        <xs:key name="PK_admin">
            <xs:selector xpath="adminok/admin"></xs:selector>
            <xs:field xpath="@admin_id"></xs:field>
        </xs:key>
        <xs:key name="PK_rendelesi_ido">
            <xs:selector xpath="rendelesi_idok/rendelesi_ido"></xs:selector>
            <xs:field xpath="@rend_id"></xs:field>
        </xs:key>
        <xs:key name="PK_orvos">
            <xs:selector xpath="orvosok/orvos"></xs:selector>
            <xs:field xpath="@orvos_id"></xs:field>
        </xs:key>
        <xs:key name="PK_idopont_foglalas">
            <xs:selector xpath="idopont_foglalasok/idopont_foglalas"></xs:selector>
            <xs:field xpath="@idopont_id"></xs:field>
        </xs:key>
        <xs:key name="PK_pac-gyogy">
            <xs:selector xpath="pac-gyogy-ek/pac-gyogy"></xs:selector>
            <xs:field xpath="@p_gy_id"></xs:field>
        </xs:key>
        <xs:key name="PK_paciens">
            <xs:selector xpath="paciensek/paciens"></xs:selector>
            <xs:field xpath="@paciens_id"></xs:field>
        </xs:key>
        <xs:key name="PK_gyogyszer">
            <xs:selector xpath="gyogyszerek/gyogyszer"></xs:selector>
            <xs:field xpath="@gyogyszer_id"></xs:field>
        </xs:key>
        <xs:key name="PK_pac-bet">
            <xs:selector xpath="pac-bet-ek/pac-bet"></xs:selector>
            <xs:field xpath="@p_b_id"></xs:field>
        </xs:key>
        <xs:key name="PK_betegseg">
            <xs:selector xpath="betegsegek/betegseg"></xs:selector>
            <xs:field xpath="@betegseg_id"></xs:field>
        </xs:key>
        <xs:keyref name="FK_dolgozo-admin" refer="PK_admin">
            <xs:selector xpath="dolgozok/dolgozo"></xs:selector>
            <xs:field xpath="@admin_id"></xs:field>
        </xs:keyref>
        <xs:keyref name="FK_dolgozo-orvos" refer="PK_orvos">
            <xs:selector xpath="dolgozok/dolgozo"></xs:selector>
            <xs:field xpath="@orvos_id"></xs:field>
        </xs:keyref>
        <xs:keyref name="FK_dolgozo-recepcios" refer="PK_recepcios">
            <xs:selector xpath="dolgozok/dolgozo"></xs:selector>
            <xs:field xpath="@recepcios_id"></xs:field>
        </xs:keyref>
        <xs:keyref name="FK_rend_ido-orvos" refer="PK_orvos">
            <xs:selector xpath="rendelesi_idok/rendelesi_ido"></xs:selector>
            <xs:field xpath="@orvos_id"></xs:field>
        </xs:keyref>
        <xs:keyref name="FK_orvos-idopont" refer="PK_idopont_foglalas">
            <xs:selector xpath="orvosok/orvos"></xs:selector>
            <xs:field xpath="@idopont_id"></xs:field>
        </xs:keyref>
        <xs:keyref name="FK_paciens-idopont" refer="PK_idopont_foglalas">
            <xs:selector xpath="paciensek/paciens"></xs:selector>
            <xs:field xpath="@idopont_id"></xs:field>
        </xs:keyref>
    </xs:element>
    <xs:simpleType name="iranyitomszam">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1000"></xs:minInclusive>
            <xs:maxInclusive value="9999"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>